.Footer{
    width: 100vw;
    background-color: #2B2E33;
    color:white;
    padding-block: 3rem;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column-reverse; */
  gap: 20px;
}
.footer-top .logo{
  display: flex;
  align-items: center;
  gap: 15px;
 
   text-align: left;
   border-radius: 50%;
}
.footer-top .logo:hover{
  cursor: pointer;
}

.footer-top .place-info .logo img {
  width: 60px;
  border-radius: 50%;
}
.footer-top .founder-info .logo img {
  width: 60px;
  /* border-radius: 50%; */
}
.footer-top .logo-text{
  display:flex;
  flex-direction: column;
justify-content: space-between;
gap: 5px;}
.footer-top .logo-name{
  font-size: 1.45rem;
  font-weight: 600;

}
.footer-top .logo-address{
  font-size: 1rem;
  font-weight: 400;
}
.footer-top .place-info .logo{
  display: flex;
  flex-direction: row;
  text-align: left; 
}
.footer-top .footer-left{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.footer-bottom hr{
  margin-block: 1rem;
  
}
.footer-top .contact-footer-details p{
  padding-top: 9px;
}

.footer-top .contact-footer hr{
  display: none;
  
}
.footer-top  .contact-footer .contact-footer-phone{
  display: flex;
  /* justify-content: center; */
  align-items: start;
  gap: 0.7rem;
  padding-top: 9px;
}
.footer-bottom .footer-end{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .footer-end-right-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}
.footer-bottom .footer-end-right-links > *{
  cursor: pointer;
}


@media only screen and (max-width:800px){
  .footer-top{
    flex-direction:column;
    align-items: start;
    gap: 0.7rem;
    margin-left:1.3rem;
    gap: 1.5rem;
  }

  .footer-top .place-info .logo{
   
    flex-direction: row;
    text-align: left;
  }
  .footer-top  .contact-footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap:0.4rem;
  margin: auto;
  width: 50%;
  text-align: center;
  }
  .footer-top .contact-footer hr{
    display: block;
    width: 40vw;
    text-align: center;
  }
  .footer-top .footer-right{
    margin: 0 auto;
  }
  .footer-bottom .footer-end{
flex-direction: column;
gap: 0.7rem;
  }

}